/* Space for fixed navbar */
body{
    /* margin-top: 100px; */
} 

/* Header  */
.team-name{
    font-weight: 700;
    
}
.team-mail{
    margin-top: 30px;
}
.team-name, .team-mail{
    display: inline;
}
.team-name img{
    height: 80px;
    margin-top: -5px;
}
.team-name span, .team-mail {
    color:  rgb(64, 66, 64);
}
.team-mail span {
    color: rgb(47, 170, 47);
}

/* navbar color and padding */
.navbar{
    margin-top: -15px;
    margin-bottom: 15px;
}

.navbar, .dropdown-menu{
    background-color: rgb(64, 66, 64);
    padding:0px;
}

/* nav links color */
.nav-link, .navbar-brand, .dropdown-item, .modal-button a{
    color:white;
    text-decoration: none;
}

/* hamburger button style */
.navbar-toggler{
    border: 1px solid white;
}
.navbar-toggler{
    margin:8px 10px;
}

/* when nav-link is active */
.navbar-nav .active, .navbar-nav .active:hover{ 
    background-color:  rgb(47, 170, 47);
}

.nav-item{
    padding:5px 15px;
}
.nav-item:hover, .dropdown-item:hover{
    background-color: rgb(75, 78, 75);
    color: white;
}
.nav-link:hover{
    color:white;
}

.navbar-brand:hover{
    color: white;
}

/* bottom-button */
.bottom-button{
    height: 70px;
    width: 70px;
    background-color: rgb(47, 170, 47);
    font-size: 38px;
    color: rgb(64, 66, 64);
    border-radius: 50%;
    font-family: monospace;
    margin-bottom: 30px;
}
.bottom-button:hover{
    background-color: rgb(64, 66, 64);
    color: rgb(47, 170, 47);
}

/* Jumbotron
.jumbotron{
    background-color: rgb(47, 170, 47);
    color: rgb(47, 170, 47);;
    font-size: 1.5rem;
    height: 80px;
}
.jumbotron img{
    height: 120px;
    margin-top: -12px;
}
.jumbotron h1{
    font-size: 4rem;
    margin: -40px auto 0;
} */


.image-name p{
    text-align: center;
    height: 32px;
    margin-top: -8px;
}

/* modal style */
.modal-button{
    background-color: rgb(64, 66, 64);
    color: white;
}
#contact-mail{
    width: 80%;
    border: none;
    background-color: white;
    outline-width: 0;
    display: inline-block;
}
.contact-mail{
    width: 20%;
}
.toast{
    border:none;
    height: 0px;
    margin:auto
}
.toast-msg, .toast-header{
    height: 15px;
    margin-left: 125px;
}

/* Carousel slides */
.carousel img{
    height: 300px;
}
.carousel{
    margin-bottom: 30px;
    outline: 1px solid rgba(64, 66, 64,0.4);
}

/* sections */
.sections{
    text-align: center;
}
.sections p{
    text-align: justify;
}


/* Large Screen */
@media screen and (max-width: 992px) {

}
  
@media screen and (max-width: 768px) {

}
